<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/499257a9-3d84-4da2-b0b6-8c6e770fafb0/resourceGroups/shop/providers/Microsoft.Web/sites/NetShop</ResourceId>
    <ResourceGroup>shop</ResourceGroup>
    <ApiResourceId>/subscriptions/499257a9-3d84-4da2-b0b6-8c6e770fafb0/resourceGroups/shop/providers/Microsoft.ApiManagement/service/NetShopapi/apis/NetShop</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://netshop-dwemdufpfscch2hq.israelcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5e96aa33-56e8-4c44-85b5-36e702c7a2a2</ProjectGuid>
    <MSDeployServiceURL>netshop-dwemdufpfscch2hq.scm.israelcentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NetShop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>